*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}




main 
{
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 2px;
  scroll-behavior: smooth;
}
main::-webkit-scrollbar{
  display: none;
}

section 
{
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

section h1
{
  text-align: center;
  font-size: 4rem;
}



.parallax h1 
{
  width: 60%;
  font-size: 2rem;
}

.parallax::after 
{
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* transform: translateZ(-1px) scale(1.5); */
  background-size: 100%;
  z-index: -1;
}

#seccion-1
 {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./img/img_galaxy1.jpg"); 
  background-size:cover; 
  background-attachment: fixed;
  width: 100vw;
}

#seccion-2
{
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./img/img_galaxy2.jpg");
  background-size:cover; 
  background-attachment: fixed;
  width: 100vw;
}

#seccion-3
{
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./img/img_galaxy.jpg");
  background-size:cover;
  background-attachment: fixed;
  width: 100vw;
}

/* @media screen and (min-width: 768px) 
{
  section h1 
  {
    font-size: 8rem;
  }
  
  .parallax h1 
  {
    font-size: 4rem;
  }
}

/* navbar */

nav{
  width: 100%;

  background-color: rgba(0,0,0, .3);
  display: flex;
  justify-content: center;
  align-items:center;
  
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(5px);

  position: fixed;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 10;
}

nav a:not(:last-child){
  margin-right: 25px;
}

a{
  text-decoration: none;
  color:rgba(255, 255, 255, .9);
  font-size:large;
  transition: color 0.3s ease-in-out;
}

a:hover{
  color: #5333ed;
} 

